﻿<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 offset-sm-3">
               <h1>Hi {{currentUser.firstName}}!</h1>
				<p>You're logged in with Angular 6!!</p>
			<h3>All registered users:</h3>
		<ul>
    		<li *ngFor="let user of users">
        {{user.username}} ({{user.firstName}} {{user.lastName}})
        - <a (click)="deleteUser(user.id)" class="text-danger">Delete</a>
    </li>
</ul>
<p><a [routerLink]="['/login']">Logout</a></p>
<a [routerLink]="['/weather']">Weather</a>
            </div>
        </div>
    </div>
</div>